<mat-card class="main-form" >
  <form [formGroup]="formBooking" (ngSubmit)="onSubmit()">
    <mat-card-title>Réservation salle</mat-card-title>
    <!--Salle-->
    <mat-card class="form-card" appearance="outlined">
      <mat-card-subtitle>Salle</mat-card-subtitle>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Salle</mat-label>
          <mat-select formControlName="hall">
            <mat-option *ngFor="let hall of hall$ | async" [value]="hall.id">
              {{hall.name}}
            </mat-option>
          </mat-select>
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Usage</mat-label>
            <mat-select formControlName="use">
              <mat-option *ngFor="let key of useOptions | keyvalue" [value]="key.key">
                {{key.value}}
              </mat-option>
            </mat-select>
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!--Timeslot-->
    <mat-card class="form-card" appearance="outlined" [formGroup]="formTimeslot">
      <mat-card-subtitle>Créneau</mat-card-subtitle>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Date et heure du début</mat-label>
          <input [formControl]="startDateTimeControl" matInput type="datetime-local" placeholder="start date">
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date et heure de la fin</mat-label>
          <input [formControl]="endDateTimeControl" matInput type="datetime-local" placeholder="end date">
          <mat-error>{{getFormControlErrorText(endDateTimeControl)}}</mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <mat-card-actions >
      <button mat-flat-button color="primary" type="submit" >ENREGISTRER</button>
    </mat-card-actions>
  </form>
</mat-card>

