.mat-badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #007bff;
}
mat-card {
  width: 95%;
  margin: 10px auto 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem; /* Espace entre les cartes lorsqu'elles sont côte à côte */
}

/* Pour les écrans plus petits (par exemple, les téléphones), nous mettrons les cartes en colonne */
@media (max-width: 768px) {
  mat-card > mat-card {
    flex-direction: column;
  }
}

/* Espace dans le titre */
mat-card-title {
  margin-bottom: 1rem;
}

/* Espace entre les boutons d'action */
mat-card-actions > button {
  margin-right: 0.5rem; /* Ajoute un espace à droite de chaque bouton */
}

mat-card-title {
  display: flex;
  justify-content: space-between;
}
mat-card-actions {
  display: flex;
  justify-content: space-evenly;
}
