<!--
Afin de ne pas surcharger, je fais cette page dans cette application,
mais cela mériterait par la suite une application en particulier
-->

<div class="card-container">
  <mat-card class="main-form card-item">
    <form [formGroup]="formBooking" (ngSubmit)="onSubmit()">
      <mat-card-title>Réservation salle</mat-card-title>
      <!-- user's informations -->
      <mat-card class="form-card" appearance="outlined">
        <mat-card-subtitle>Informations personnelles</mat-card-subtitle>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input type="text" matInput formControlName="username">
            <mat-error>Ce champ est requis</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" matInput [formControl]="emailControl">
            <mat-error>{{getFormControlErrorText(emailControl)}}</mat-error>
          </mat-form-field>
        </div>
      </mat-card>

      <!-- address -->
      <mat-card class="form-card" appearance="outlined">
        <mat-card-subtitle>Informations personnelles</mat-card-subtitle>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Rue</mat-label>
            <input type="text" matInput formControlName="street">
            <mat-error>Ce champ est requis</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Code postal</mat-label>
            <input type="text" matInput formControlName="cp">
            <mat-error>Ce champ est requis</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Ville</mat-label>
            <input type="text" matInput formControlName="city">
            <mat-error>Ce champ est requis</mat-error>
          </mat-form-field>
        </div>
      </mat-card>

      <!--Hall-->
      <mat-card class="form-card" appearance="outlined">
        <mat-card-subtitle>Salle</mat-card-subtitle>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Salle</mat-label>
            <mat-select formControlName="hall">
              <mat-option *ngFor="let hall of hall$ | async" [value]="hall.id">
                {{hall.name}}
              </mat-option>
            </mat-select>
            <mat-error>Ce champ est requis</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Usage</mat-label>
            <mat-select formControlName="use">
              <mat-option *ngFor="let key of useOptions | keyvalue" [value]="key.key">
                {{key.value}}
              </mat-option>
            </mat-select>
            <mat-error>Ce champ est requis</mat-error>
          </mat-form-field>
        </div>
      </mat-card>

      <!--Timeslot-->
      <mat-card class="form-card" appearance="outlined" [formGroup]="formTimeslot">
        <mat-card-subtitle>Créneau</mat-card-subtitle>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Date et heure du début</mat-label>
            <input [formControl]="startDateTimeControl" matInput type="datetime-local" placeholder="start date">
            <mat-error>Ce champ est requis</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Date et heure de la fin</mat-label>
            <input [formControl]="endDateTimeControl" matInput type="datetime-local" placeholder="end date">
            <mat-error>{{getFormControlErrorText(endDateTimeControl)}}</mat-error>
          </mat-form-field>
        </div>
      </mat-card>

      <mat-card-actions>
        <button mat-flat-button color="primary" type="submit">ENREGISTRER</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Hall Column -->
  <ng-container matColumnDef="hall">
    <th mat-header-cell *matHeaderCellDef> Salle </th>
    <td mat-cell *matCellDef="let booking"> {{booking.hall.name}} </td>
  </ng-container>

  <!-- start Column -->
  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Début </th>
    <td mat-cell *matCellDef="let booking">{{booking.timeslot.start | date:'E d MMM y HH:mm'}}</td>
  </ng-container>

  <!-- end Column -->
  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef> Fin </th>
    <td mat-cell *matCellDef="let booking">{{booking.timeslot.end | date:'E d MMM y HH:mm'}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>
