<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/games" href="#">Rencontres</a>
      <a mat-list-item routerLink="/users" href="#">Utilisateurs</a>
      <a mat-list-item routerLink="/booking" href="#">Club-house</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Console d'administration</span>
      <span class="spacer"></span>
      <a *ngIf="!(isAuth$ | async)" mat-button routerLink="/users/signup">
        Inscription
      </a>
      <a *ngIf="!(isAuth$ | async)" mat-button routerLink="/users/signin">
        Connexion
      </a>
      <a *ngIf="isAuth$ | async" mat-button (click)="onSignOut()">
        Déconnexion
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
