<mat-card *ngIf="booking$ | async as booking">
  <mat-card-title>
    Réservation n° {{booking.id}}
    <span class="spacer"></span>
    État : {{booking.state}}
  </mat-card-title>

  <!--User's information-->
  <mat-card>
    <mat-card-subtitle>Utilisateur</mat-card-subtitle>
    <mat-card-content>
      <p>Nom d'utilisateur : {{booking.user.username}}</p>
      <p>Nom d'utilisateur : {{booking.user.email}}</p>
    </mat-card-content>
  </mat-card>

  <!--Timeslot's information-->
  <mat-card>
    <mat-card-subtitle>Créneau horaire</mat-card-subtitle>
    <mat-card-content>
      <p>
        Créneau réservée du <strong>{{booking.timeslot.start | date:'E d MMM y HH:mm'}}</strong>
        à <strong>{{booking.timeslot.end | date:'E d MMM y HH:mm'}}</strong>
      </p>
    </mat-card-content>
  </mat-card>

  <!--Payment's information-->
  <mat-card>
    <mat-card-subtitle>Payments</mat-card-subtitle>
    <mat-card-content>
      <p>
        Somme dûe : {{(booking.payment.isPaid? 0: booking.payment.amount) | euroFormat}}
        <button class="mat-badge">{{booking.payment.isPaid? 'Payée': 'Non payée'}}</button>
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="isAcceptActive" (click)="onAccept()">Accepter</button>
    <button mat-raised-button color="primary" [disabled]="isPayActive" (click)="onPay()">Encaisser</button>
    <button mat-raised-button color="primary" [disabled]="isValidActive" (click)="onValid()">Valider</button>
    <button mat-raised-button color="warn" [disabled]="isRefuseActive" (click)="onRefuse()">Refuser</button>
  </mat-card-actions>
</mat-card>
