<div class="container overflow-hidden" *ngIf="game$ | async as game">
  <div class="row m-3 gx-1">
    <div class="col">
      <mat-card appearance="outlined">
        <mat-card-header
          class="d-flex justify-content-center align-content-center"
        >
          <mat-card-title
            class="d-flex justify-content-center align-content-center"
            >J{{ game.day.number }}</mat-card-title
          >
          <mat-card-subtitle>{{ game.season.name }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content
          class="d-flex justify-content-center align-content-center"
        >
          <p>{{ game.dateTime | date }} {{ game.dateTime | date : 'HH:mm' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card appearance="outlined">
        <mat-card-header
          class="d-flex justify-content-center align-content-center"
        >
          <mat-card-subtitle
            class="d-flex justify-content-center align-content-center"
            >{{ game.homeTeam.category.name }}
            {{ game.homeTeam.gender }}</mat-card-subtitle
          >
          <mat-card-title
            class="d-flex justify-content-center align-content-center"
            >{{ game.homeTeam.club.name }} -
            {{ game.visitingTeam.club.name }}</mat-card-title
          >
        </mat-card-header>
        <mat-card-content
          class="d-flex justify-content-center align-content-center"
        >
          <p>{{ game.score.homeScore }} - {{ game.score.visitingScore }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card appearance="outlined">
        <mat-card-header
          class="d-flex justify-content-center align-content-center"
        >
          <mat-card-title
            class="d-flex justify-content-center align-content-center"
            >{{ game.pool.name }}</mat-card-title
          >
          <mat-card-title
            class="d-flex justify-content-center align-content-center"
            >{{ game.pool.competition.name }}</mat-card-title
          >
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
